<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postbet Account OTP</title>
</head>
<body>
    <p>Postbet Account OTP </p>
    <p>Please use this code to verify your account <%= email %></p>
    
    <p>Here is your code: <%= otp %></p>

    <p>Thanks,<br>The Postbet account team</p>
</body>
</html>