<p>Hey <%= name %>,</p>
<p>
  Thanks for signing up for UM-IN App. We're very excited to have you on board.
</p>

<p>To get started using UM-IN App, please confirm your account by this OTP:</p>
<p>
  <%= otp %>
</p>