<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayTabs Payment Link</title>
    
</head>
<body>

    <h1>Click the link below to make a payment:</h1>
    
    <!-- Embed PayTabs payment link -->
    <a href="{{ sessionId }}" target="_blank">
        Pay Now
    </a>

</body>
</html>
